/**
 * @fileOverview 
 * @author Crow
 * @version 0.0.1
 * @time 2015/9/16
 */
/**
 * @fileOverview 
 * @author Crow
 * @version 0.0.1
 * @time 2015/7/27
 */
/* line 8, ../../sass/doc/section.scss */
.doc-section {
  width: 800px;
  margin: 0 auto;
}
/* line 11, ../../sass/doc/section.scss */
.doc-section .example {
  border-radius: 4px 4px 0 0;
}
/* line 15, ../../sass/doc/section.scss */
.doc-section .highlight {
  border-radius: 0 0 4px 4px;
}

/**
 * @fileOverview
 * @author Crow
 * @version 0.0.1
 * @time 2015/7/27
 */
/* line 8, ../../sass/doc/example.scss */
.example {
  position: relative;
  padding: 45px 15px 15px;
  margin-bottom: -1px;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
  margin-top: 10px;
  clear: both;
}
/* line 16, ../../sass/doc/example.scss */
.example.select {
  padding-top: 15px;
  min-height: 200px;
}
/* line 20, ../../sass/doc/example.scss */
.example .example-block {
  margin-bottom: 10px;
}
/* line 23, ../../sass/doc/example.scss */
.example .example-inline {
  margin-bottom: 10px;
}
/* line 25, ../../sass/doc/example.scss */
.example .example-inline > * {
  margin-right: 10px;
}
/* line 29, ../../sass/doc/example.scss */
.example .row {
  margin-bottom: 20px;
  min-height: 50px;
}
/* line 33, ../../sass/doc/example.scss */
.example .media {
  margin-bottom: 10px;
}
/* line 36, ../../sass/doc/example.scss */
.example nav {
  margin-bottom: 30px;
}
/* line 39, ../../sass/doc/example.scss */
.example .pagination {
  margin-bottom: 10px;
}

/**
 * @fileOverview 
 * @author Crow
 * @version 0.0.1
 * @time 2015/7/27
 */
/* line 8, ../../sass/doc/highlight.scss */
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

/**
 * @fileOverview 
 * @author Crow
 * @version 0.0.1
 * @time 2015/9/21
 */
/* line 8, ../../sass/doc/toc.scss */
.toc {
  position: fixed;
  top: 20px;
  right: 100px;
}

/* line 14, ../../sass/doc/toc.scss */
.toc-tree {
  padding: 0;
  width: 150px;
}

/* line 19, ../../sass/doc/toc.scss */
.toc-item {
  list-style: none;
}

/* line 23, ../../sass/doc/toc.scss */
.toc-link {
  display: block;
  padding: 4px 8px;
  text-decoration: initial;
}

/* line 29, ../../sass/doc/toc.scss */
.toc-link:first-child {
  border-top: 0;
}

/* line 33, ../../sass/doc/toc.scss */
.toc-level-3 {
  padding-left: 20px;
  font-size: 12px;
  display: none;
}
